@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.nav-color{
    background-color: #090a0a;
}

.text-color{
    color: whitesmoke;
}

.div-dimension{
    width: 100%;
    height: 92vh;
}

#carousel-picture-1{
    background: rgba(0, 0, 0, 0.7) url(https://images.unsplash.com/photo-1580048915913-4f8f5cb481c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fGZpbmFuY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-blend-mode: darken;
}

#carousel-picture-2{
    background: rgba(0, 0, 0, 0.7) url(https://images.unsplash.com/photo-1629339942248-45d4b10c8c2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGZpbmFuY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-blend-mode: darken;
}

#carousel-picture-3{
    background: rgba(0, 0, 0, 0.7) url(https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGZpbmFuY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-blend-mode: darken;
}

.main{
    position: absolute;
    transform: translate(0, -70vh);
    width: 100%;
    margin: 0px auto;
    color: rgb(206, 205, 255);
}

#reg-main{
    transform: translate(0, -90vh);
}

#login-main{
    transform: translate(0, -80vh);
}

#pred-main{
    transform: translate(0, -95vh);
}

.content-heading{
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    color: white;
}
.content-heading2{
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    color: white;
}
.submit-button{
    margin: 50px auto;
    text-align: center;
}

.button-glow:hover{
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

.text-glow{
    animation: all 0.5s ease-in-out;
}

.text-glow:hover{
    text-shadow: 0 5px 15px rgba(255, 255, 255, 0.932);
}

.form-location{
    width: 50%;
    margin: auto;
}

.form-placeholder{
    color: white;
    background-color: #090a0a;
    border: none;
}

.form-placeholder:focus{
    color: white;
    background-color: #090a0a;
    border: none;
}